<%= form_with(model: [conversation, conversation.messages.new]) do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div class="mb-4">
    <%= form.text_area :content, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
  </div>
  <div class="text-right">
    <%= form.submit "Submit", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center" %>
  </div>
<% end %>