<h1>New Reply</h1>

<%= turbo_frame_tag "comment_#{@comment.parent_id}_new_reply" do %>
  <%= render "replies/form", post: @post, comment: @comment %>
<% end %>

<br>

<div>
  <%= link_to sanitize("&larr; Back to posts"), posts_path %>
</div>