<h1>New comment</h1>

<%= turbo_frame_tag "#{dom_id(@post)}_new_comment" do %>
  <%= render "form", post: @post, comment: @comment %>
<% end %>

<br>

<div>
  <%= link_to sanitize("&larr; Back to posts"), posts_path %>
</div>