<li class="py-2 px-4 w-full border-b">
  <div class="flex items-center">
    <div class="flex mr-auto">
      <div class="appearance-none">
        <%= avatar(friendship.user) %>
      </div>
      <div class="flex items-center ml-2">
        <div><%= show_name(friendship.user) %></div>
      </div>
    </div>
    <%= button_to "Accept", friendship_path(friendship.id), method: :patch, class: "btn btn-success btn-xs" %>
    <%= button_to "Deny", friendship_path(friendship), method: :delete, form: { data: { turbo_confirm: "Are you sure?"} }, class: "btn btn-ghost btn-xs"  %>
  </div>
</li>

